*{
    margin: 0;
    padding: 0;
}
/* Shared Style */
.display-flex{
    display: flex;
}
.banner-color{
    color: #3A3A3A;
}
.btn-primary{
    background-color: #E02C6D;
    color: white;
    border: none;
    border-radius: 41px;
    padding: 10px 30px 10px 25px;
}
/* Navbar Style */
.navbar{
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    padding-top: 20px;
}
.navbar-heading{
    font-size: 1.5rem;
    
}
.navbar-icons{
    list-style: none;
    gap: 1.5rem;
}
.navbar-icons a{
    text-decoration: none;
}
.banner-container{
    max-width: 1200px;
    margin: 72px auto 0 auto;
    gap: 100px;
}
.banner-heading{
    max-width: 580px;
    align-content: center;
}
.banner-title{
    font-size: 3.25rem;
}
.banner-description{
    margin: 16px 0;
}
.banner-img{
    background-image: url(images/Circle\ design.svg);
}
.sponsor-logos{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 100px;
}
/* Main Style */
#popular-collection{
    max-width: 1040px;
    margin: 0 auto;
}
.popular-collection-title{
    margin-bottom: 50px;
    font-size: 1.75rem;
    font-weight: 500;
    text-align: center;
    margin-top: 100px;
}
.card-info{
    max-width: 325px;
}